.contact-info {
    background: #fff;
    padding: 1rem;
    margin-bottom: 5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-info p {
    margin: 0.5rem 0;
}

.contact-info a {
    color: #057;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}